data
.prettierignore
.idea/
dataset
*.outdated
*.disable
*.mo
develop
examples-ng
.coverage*
tutorials.po
whitepaper.po
*.result
.vscode/
.pytest_cache/
.DS_Store
coverage.xml
.mypy_cache/
.coverage
.pytest_cache
*.pyc
build
dist
*.egg-info
__pycache__
.ipynb_checkpoints
examples/Unified AD model.ipynb
docs/source/locale/zh/LC_MESSAGES/textbook.po
docs/source/locale/zh/LC_MESSAGES/whitepapertoc_cn.po
docs/source/locale/zh/LC_MESSAGES/textbooktoc.po
test.qasm
